.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md

.github/**
.editorconfig
.eslintrc.json
.eslintignore
CHANGELOG.md
lib/web/debugger.*
